# Server
PORT=3000
NODE_ENV=development

# Database
MONGO_URI=mongodb://127.0.0.1:27017/mundo-dev

# JWT
JWT_SECRET=tu_clave_secreta_jwt

# URLs
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000

# Mercado Pago
MP_ACCESS_TOKEN=TU_ACCESS_TOKEN
MP_MOCK=true
MP_WEBHOOK_SECRET=tu_webhook_secret

# SMTP / Mail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu_email@gmail.com
SMTP_PASS=tu_password_o_app_password
MAIL_FROM=tu_email@gmail.com
ADMIN_EMAIL=tu_email_admin@gmail.com