.navbar {
  padding: 8px 24px; /* menos padding vertical */
  background: #111827;
}

.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo-img {
  height: 80px; /* subilo un poco más */
  width: auto;
  display: block;
}

.navbar__logo {
  display: flex;
  align-items: center;
}
.navbar__carrito-link {
  position: relative;
  display: inline-block;
  padding-right: 10px;
}

.navbar__carrito-badge {
  position: absolute;
  top: -8px;
  right: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 18px;
  height: 18px;
  padding: 0 5px;
  border-radius: 999px;
  background: #ef4444;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;

  animation: pop 0.3s ease;
}

@keyframes pop {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
